body{
    background-color: #F3E5D8;
}
.darkMode{
    background-color: #161616;
    main{
        background-color: rgb(110, 110, 110)

    }
    input{
        background-color: rgb(177, 177, 177)
    ;}}
a{
    text-decoration: none;
    color: white;
    font-family: sans-serif
    
}
header {
    background-color:#255538 ;
    border-radius: 5px;
   
}
footer{
    background-color:#255538 ;
    border-radius: 5;
    color: white;
    
}
*{
    box-sizing: border-box;
    margin: 0;
}
#flex-container {
    display: flex;
   justify-content: space-between;

}
#container-flex{
    display: flex;
   justify-content: space-between;
   
}
#bitcook,
#Elbitcook
{
    font-family: serif;
}
#bitcook,
#ElDarkMode,
#linkParaElForm{
    width: 250px;
    height: 35px;
   
    color: white;
    padding: 5px;

}
#Elbitcook,
#footer{
    width: 400px;
    height: 50px;
   
    color: white;
    padding: 5px;
}
#footer{
    font-family: sans-serif;
}
main{
    background-color: white;
    width: 1200px;
    padding: 0 auto;
    height: 800px;
    display: flex;
    margin: auto;
}
#Paenviar{
    background-color: #255538;
    color: white;
    border-radius: 5px;
    width: 150px;
    height: 35px;
}
input,
textarea,
select,
button {
    width:150px;
    padding: 0 ;
    margin: 0 ;
    box-sizing: border-box;
}
img{
    width: 380px ;
    height: 248px;
}
#botonluna{
    width: 20px;
    height: 20px;
}
div{
    display: block;
}
h1{
    color: #7E4333;
}
p{
    font-size: 25px;
    margin-left: 10px;
}
.label{
    font-size: 20px;
    color: #7E4333;
    margin-left: 80px;
}
label, input {
    display: block;
    margin: auto;
  } 
input{
    width: 1000px;
    margin: auto;
}
.text{
height: 30px;
}
.pregunta{
height: 200px;
}
input{
    border-radius: 4px;
    background-color: rgb(201, 197, 197);
}
