 body {
     background-color: antiquewhite;
     font-family: "DM Sans", sans-serif;
     font-optical-sizing: auto;
   
     font-style: normal;
     
   }

header {
    background-color:#255538 ;
    border-radius: 5px;
    
}

#botonluna{
    width: 20px;
    height: 20px;
    border-radius: 50px;
}
a{
    text-decoration: none;
    color: black;
    font-family: sans-serif
}
;


#titulopricinpal{
    color: white;
}
footer{
    background-color:#255538 ;
    border-radius: 5;
    
}
#footer{
    color: white;
}

div {
    width: 80%;
    
    background-color: white;
    
    border: 1px none antiquewhite ;
border-radius: 5px;
display: block;
unicode-bidi: isolate;
}
#grid-container{
    align-items: center;
}

img{
    width: 280px;
    height: 180px;
    
    padding-right: 20px;
    border-radius: 5px;
    object-fit: cover;
    padding-left: 20px;
    
}

.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 300px 300px 300px;
    gap: 3em;
    background-color: antiquewhite;
    
    

}
h2{
    color: #7E4333;
    ;
}
.darkMode{
    background-color: #161616;
    color: #F2F2F2;
    .grid{
        background-color:#161616;
    }
    h2{
        color: white;
    }
    div{
        background-color: #2F2F2F;
    }
    a{
        color: white;
    }
}
*{
    box-sizing: border-box;
    margin: 0;
}
#flex-container {
    display: flex;
   justify-content: space-between;

}

#bitcook,
button,
#linkParaElForm{
    
    height: 35px;
   
    color: white;
    padding: 5px;

}
#linkParaElForm{
    padding-left: 1600px;
}

#container-flex{
    display: flex;
   justify-content: space-between;
   
}
#bitcook,
#Elbitcook
{
    font-family: serif;
}
#Elbitcook
{
    width: 350px;
    height: 50px;
   
    color: white;
    padding: 20px;
}
#footer{
    font-family: sans-serif;
}
#recipe{
    padding: 25px;
    font-family:serif;
}
li{
    font-family: sans-serif;
}
#bogotabitinstitute{
    background-color: #255538;
    padding: 5px;
    padding-left: 1200px;
}
@media (max-width : 768px) {
    main{
        #grid-container{
            display: grid;
            max-width: 1240px;
            grid-template-rows: 100px 450px 450px 450px ;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: 
              ' receta1 receta2'
              ' receta3 receta4'
              ' receta5 receta6';
            gap: 1em;
            margin: auto;
        }

    }
}

@media (max-width: 550px) {
    main {
        #grid-container{
            display: flex;
            margin: 0 auto;
            max-width: 1240px;
            flex-direction: column;
            gap: 1em;
        }
    }
}

fotito{
    border-radius: 10px;
    object-fit: cover;
    width: 80%;
    height: 440px;
    

}