body{
    background-color: antiquewhite;
}
.table {
    display: table;
    border-collapse: separate;
    width: 10%;
}

.table-row {
    display: table-row;
}

.table-header,
.table-cell {
    display: table-cell;
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

.table-header {
    font-weight: bold;
}
div{
    
    border-radius: 5px;
    display: flex;
    
    align-items: stretch;
    gap: 3em;
   

}
header{
    background-color:#255538 ;
    border-radius: 5px;
}
a{
    text-decoration: none;
    color: white;
}
#botonluna{
    width: 20px;
    height: 20px;
}
#imagenprincipal{
    width: 1000px;
    height: 250px;
    object-fit: cover;
}
h1,
h2,
h3{
    color:#7E4333 ;
}
#divrosita{
  background-color: #FFF7FC;
  border-radius: 5px;
}

#ajiaco,
#bunuelos,
#patacones{
    width: 80px;
    height: 80px;
}
#segundacolumna{
    position: relative;


}
.darkMode{
    background-color: #161616;
    p,
    h1,
    h2,
   h3,
    li{
        color: white
    }
    div,
    main{
        background-color: rgb(116, 115, 115)
    }
    #divrosita{
        background-color: rgb(201, 196, 196)
    }
    section,
    aside,
    #segundacolumna{
        background-color: rgb(201, 196, 196)
    }
    ;}
#linkParaElForm{
        padding-left: 1600px;
    }
#container-flex{
    background-color: #255538;
    color: white;
    padding: 5px;
    
}
main{
    margin: 0 auto;
    max-width: 1000px;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px
    350px
    200px
   
   
    ;
    background-color: white;
    grid-template-areas:
    "my-header my-header my-header"
    "my-nav my-nav my-nav"
    "my-section my-section my-section"
    "my-aside my-aside my-aside";
    gap: 2em;
    
    
}
header{
    grid-area:my-header ;
}
nav{
    grid-area: my-nav;
    align-items: start;
}
section{
    grid-area: my-section;
}
aside{
    grid-area: my-aside;
    background-color: white;
    width: 300px;
    height: 600px;
    position: relative;
    right: 390px;
    top: 350px;
    margin-right: 500px;
    border-radius: 5px;
    
}
#segundacolumna{
    width: 400px;
    height: 300px;
    background-color: white;
    border-radius: 5px;
}

p{
    color: #161616;
}
